@charset "UTF-8";

/* Todas as demais mídias */

/* Typical device breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print {
  body {
    background-image: url('../img/back-print.jpg'); /* desnecessário */
  }
  main {
    border: 2px solid black;
  }
  main h1 {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: none;
    color: black;
  }
  #print {
    display: block;
  }
  #phone {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
  body {
    background-image: url('../img/back-tablet.jpg');
  }
  #tablet {
    display: block;
  }
  #phone {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
  body {
    background-image: url('../img/back-pc.jpg');
  }
  #pc {
    display: block;
  }
  #phone {
    display: none;
  }
}

@media screen and (min-width: 1200px) { /* Grandes telas */
  body {
    background-image: url('../img/back-tv.jpg');
  }
  #tv {
    display: block;
  }
  #phone {
    display: none;
  }
}